.stpd_between_comments {
    margin: 10px 0;
}

.stpd_between_posts{
    margin: 10px 0;
}

.stpd_before_after_comments {
    margin: 10px 0;
}
.stpd-ad-placement-label {
    font-size: 14px;
    font-family: inherit;
    font-weight: 450;
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}